.contato-container {
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #2e7d32;
  border-radius: 5px;
}

button {
  background-color: #2e7d32;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
