.reservas-container {
  padding: 20px;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  background: #e8f5e9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #e53935;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #b71c1c;
}
